{% extends "base.html" %}

{% block script %}
	<script>
		function getURLParameter(name) {
		  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
		}

		$(document).ready(function(){
			var query = getURLParameter("q");
			var tweetList = [];
			function parseTweets(){
				//parse and display tweets or message if no tweets exist yet.
				if( tweetList.length > 0 ){
						
					$.each(tweetList, function(key, value){
						var content = value.content;
						var user = value.user;
						var tweet_id = key;
						$("#tweet-list").append(
							"<div class='media'>"+
							  "<div class='media-body'>"+
							    "<h5 class='mt-0'>" + user.username + "</h5>" + content +
							    " | <a href='#'>View</a>"+
							  "</div></div><hr>"
						);
					});
				} else {
					var msg = "<p>No tweets have been added yet.</p>";
					if( query ){
						msg = "<p>No search results found.</p>";
					}
					$("#tweet-list").append(msg);		
				}
			}

			$.ajax({
				url: "{% url 'tweet-api:list' %}",
				data: {
					"q": query
				},
				method: "GET",
				success: function(data){
					tweetList = data;
					parseTweets();

				},
				error: function(data){
					console.log(data);
					alert("error");
				}
			})
		});
	</script>
{% endblock script %}

{% block content %}


	<div class="row">
		<div class="col-sm-3 col-xs-12" style="background-color: red;">
			<h1>{{ request.user }}</h1>
		</div>
		<div class="col-sm-9 col-xs-12">
			{% if not request.GET.q %}
				{% include "tweets/form.html" with form=create_form action_url=create_url  btn_title='Tweet' %}
			{% endif %}
			<hr>

			<div id="tweet-list">
				
			</div>
		</div>
	</div>
	
{% endblock content %}