{% extends "base.html" %}

{% block script %}
	<script>
		function getURLParameter(name) {
		  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
		}

		$(document).ready(function(){
			var query = getURLParameter("q");
			var tweetList = [];
			function parseTweets(){
				//parse and display tweets or message if no tweets exist yet.
				if( tweetList.length > 0 ){
						
					$.each(tweetList, function(key, value){
						attachTweet(value);
					});
				} else {
					var msg = "<p>No tweets have been added yet.</p>";
					if( query ){
						msg = "<p>No search results found.</p>";
					}
					$("#tweet-list").append(msg);		
				}
			}

			function attachTweet(tweetValue, prepend = false){
				var content = tweetValue.content;
				var user = tweetValue.user;
				var tweetDate = tweetValue.date_display;
				var tweetHtml = "<div class='media'>"+
						  "<div class='media-body'>"+ content +
						    "<br><span class='mt-0'>via " + user.username + "</span>" +
						    " | "+ tweetDate + " | <a href='#'>View</a><br>"+
						  "</div></div><hr>";
				if( prepend===true ){
					$("#tweet-list").prepend(tweetHtml);
				} else {
					$("#tweet-list").append(tweetHtml);
				}
			}

			function fetchTweets(){
				$.ajax({
					url: "{% url 'tweet-api:list' %}",
					data: {
						"q": query
					},
					method: "GET",
					success: function(data){
						tweetList = data;
						parseTweets();

					},
					error: function(data){
						console.log(data);
						alert("error");
					}
				});
			}

			fetchTweets();

			var charsStart = 140;
			var charsCurrent = 0;

			$("#tweet-form").append("<span id='tweetCharsLeft'>" + charsStart + "</span>");

			$("#tweet-form textarea").keyup(function(e){
				var tweetValue = $(this).val();
				charsCurrent = charsStart - tweetValue.length;
				$("#tweetCharsLeft").text(charsCurrent);
				var spanChars = $("#tweetCharsLeft");
				spanChars.text(charsCurrent);

				if( charsCurrent > 0 ) {
					spanChars.removeClass("grey-color");
					spanChars.removeClass("red-color");
				} else if ( charsCurrent == 0 ){
					spanChars.addClass("grey-color");
					spanChars.removeClass("red-color");
				} else if ( charsCurrent < 0 ) {
					spanChars.addClass("red-color");
					spanChars.removeClass("grey-color");
				}
			});

			$("#tweet-form").submit(function(e){
				e.preventDefault();
				var this_ = $(this);
				var formData = this_.serialize();
				if (charsCurrent >= 0){
					$.ajax({
						url: "/api/tweet/create/",
						data: formData,
						method: "POST",
						success: function(data){
							$("#id_content").val("");
							attachTweet(data, true);
						},
						error: function(data){
							console.log(data);
							alert(data.status + ": " + data.statusText);
						}
					});
				} else {
					alert("Your tweet is too long!");
				}
			});
		});
	</script>
{% endblock script %}

{% block content %}


	<div class="row">
		<div class="col-sm-3 col-xs-12" style="background-color: red;">
			<h1>{{ request.user }}</h1>
		</div>
		<div class="col-sm-9 col-xs-12">
			{% if not request.GET.q %}
				{% include "tweets/form.html" with form=create_form action_url=create_url form_id="tweet-form" btn_title='Tweet' %}
			{% endif %}
			<hr>

			<div id="tweet-list">
				
			</div>
		</div>
	</div>
	
{% endblock content %}